{% extends "base.html" %}
{% block content %}

<h1>Bútorok listája</h1>
<!-- Komment X -->

<a href="/butor/uj" class="btn btn-primary">Új bútor felvétele</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Cikkszám</th>
            <th>Név</th>
            <th>Súly (kg)</th>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
    </thead>
    <tbody>
        {% for b in butorok %}
        <tr>
            <td>{{ b.cikkszam }}</td>
            <td>{{ b.nev }}</td>
            <td>{{ b.suly }}</td>
            <td>{{ b.x }}</td>
            <td>{{ b.y }}</td>
            <td>{{ b.z }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
